<app-back-home-bar></app-back-home-bar>
<div class="account-page-container">
  <div class="account-page">
    <div class="menu-page-container">
      <div class="menu-page">
        <div class="menu-page-content-container width-100">
          <div class="menu-page-content height-width-100">
            <app-account-menu></app-account-menu>
          </div>
        </div>
      </div>
    </div>
    <div class="topBarAFSRText floatRight">
      <div class="imageTextAFSR width-100"
           [ngStyle]="{'background-image':this.getAFSRIcon('Text_Only_InterAACtionbox-AFSR')}">

      </div>
    </div>
    <div class="topBarAFSRLogo floatRight">
      <div class="imageLogoAFSR width-100"
           [ngStyle]="{'background-image':this.getAFSRIcon('Logo_Only_InterAACtionbox-AFSR')}">

      </div>
    </div>
    <div class="floatRight" style="width: fit-content; height: 22px">
      <div style="
    margin-top: 7px;
    font-size: xx-small;
    width: 50px;
    height: fit-content;
    align-items: center;
    align-content: center;
    text-align: center;"
      >
        Conçu pour
      </div>
    </div>
  </div>
</div>
